$light-color:#f7fafc;
$indigo-color:#3c366b;
$gray-color:#4a5568;
$red-color:#e74c3c;

$font-stack: 'Helvetica', sans-serif;

body {
  font: 100% $font-stack;
}

.navbar {
  background-color: $light-color;
  color: $gray-color;
  height: 50px;
}

.header {
  background-color: $indigo-color;
  color: $light-color;
  height: 150px;
}

.about {
  background-color: $light-color;
  color: $indigo-color;
  height: 100px;
}

.product {
  background-color: $light-color;
  color: $gray-color;
  height: 50px;
}

.contact {
  background-color: $light-color;
  color: $gray-color;
  height: 50px;
}

.footer {
  background-color: $indigo-color;
  color: $light-color;
  height: 50px;
}