$light-color:#f7fafc;
$indigo-color:#3c366b;
$gray-color:#4a5568;
$red-color:#e74c3c;
$black-color:black;
$light-gray: #ddd;
$gray: #ccc;

$font-stack: 'Helvetica', sans-serif;

body {
  font: 100% $font-stack;
  margin: 0;
  padding: 0
}

.navbar {
  background-color: $light-color;
  color: $gray-color;
  height: 50px;
  a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;

    img {
      width: 40px;
      height: 40px;
    }
  }

  a:hover {
    background-color: $light-gray;
    color: $black-color;
    padding: 10px 20px;
  }

  .right {
    float: right;
    width: auto;
    display: block;
    padding: 5px;
  }
}

.header {
  background-image: url('./assets/header.jpg');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 1px solid $indigo-color;
  border-bottom: 1px solid $indigo-color;
}

.text-header {
  text-align: center;
  padding: 30px;

  h1 {
    color: $indigo-color;
    text-shadow: 1px 1px $light-color;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  hr {
    width: 30px;
    margin: auto;
    border-color: $gray;
    margin-bottom: 10px;
  }
  p {
    color: $gray-color;
    font-size: 15px;
    margin-bottom: 30px;
  }
}

.btn-basic {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 30px;
}

.btn-primary{
  @extend .btn-basic;
  background-color: $red-color;
}

.btn-secondary{
  @extend .btn-basic;
  background-color: $gray-color;
}

.about {
  background-color: $light-color;
  color: $indigo-color;
  height: 100px;
}

.product {
  background-color: $red-color;
  color: $light-color;
  height: 100px;
}

.contact {
  background-color: $light-color;
  color: $gray-color;
  height: 100px;
}

.footer {
  background-color: $gray-color;
  color: $light-color;
  height: 75px;
}