$light-color:#f7fafc;
$indigo-color:#3c366b;
$gray-color:#4a5568;
$red-color:#e74c3c;
$black-color:black;
$light-gray: #ddd;
$gray: #ccc;

$font-stack: 'Helvetica', sans-serif;

body {
  font: 100% $font-stack;
  margin: 0;
  padding: 0
}

.navbar {
  background-color: $light-color;
  color: $gray-color;
  height: 50px;
  a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;

    img {
      width: 40px;
      height: 40px;
    }
  }

  a:hover {
    background-color: $light-gray;
    color: $black-color;
    padding: 10px 20px;
  }

  .right {
    float: right;
    width: auto;
    display: block;
    padding: 5px;
  }
}

.header {
  background-image: url('./assets/header.jpg');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 1px solid $indigo-color;
  border-bottom: 1px solid $indigo-color;
}

.text-header {
  text-align: center;
  padding: 30px;

  hr {
    width: 30px;
    margin: auto;
    border-color: $gray;
    margin-bottom: 10px;
  }
  p {
    color: $gray-color;
    font-size: 15px;
    margin-bottom: 30px;
  }
}

  @mixin judul($color, $shadow) {
    color: $color;
    text-shadow: 1px 1px $shadow;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .judul-header {
    @include judul($indigo-color, $light-color );
  }

.btn-basic {
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-family: 'Poiret One', cursive;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 30px;
}

.btn-primary{
  @extend .btn-basic;
  background-color: $red-color;
}

.btn-secondary{
  @extend .btn-basic;
  background-color: $gray-color;
}

.grid-container  {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

@mixin item($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}

.item-sepertiga{
  @include item(1,2);
}

.item-duapertiga{
  @include item(2,3);
}

.about {
  background-image: linear-gradient(to bottom right, $light-gray, $light-color);
  height: 400px;
  img{
    border-radius: 100%;
    padding: 20px;
    width: 300px;
    height: 300px;
  }
  h1{
    color: $indigo-color;
    text-shadow: 1px 1px $light-color;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  h2{
    color: $red-color;
    font-size: 32px;
    margin-bottom: 15px;
  }
  p{
    color: $gray-color;
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.product {
  background-color: $indigo-color;
}

.judul-product {
  @include judul($light-color, $indigo-color);
}

.image-style {
  border-radius: 25px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-body {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 32px;
  margin-left: 10vw;
  margin-right: 10vw;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  .product-item {
    background-color: $light-color;
    color: $gray;
    box-shadow: 0 4px 8px 0 $gray;
    margin: 16px;
    border-radius: 10px;
    width: 340px;

    img {
      width: 90%;
      @extend .image-style;
    }

    .product-content {
      padding: 10px;
      text-align: justify;
    }

    .product-footer {
      padding: 20px;
      margin-top: 5px;
    }

    @media screen and (max-width: 800px) {
      width: 100%;
      
    }
  }
}

.contact {
  background-color: $light-color;
  color: $gray-color;
  height: 100px;
}

.footer {
  background-color: $gray-color;
  color: $light-color;
  height: 75px;
}